.site-logo{
    text-align: left;
}
.site-main{
    border: oldlace;
}
.site-tittle a{
    font-weight: 800;
}
.site-description{
    color:orange;
}
.page-title{
    font-size:3rem;
    display:none;
}
.page-header{
    display:none;
}
#post-52{
    margin-top: -4rem;
}
a{
    color:orange;
}
h3{
    color:orange;
}
footer .site-name{
    display: none;
}
